<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headFragment">
</head>
<body>
    <div th:include="layout :: headerFragment"></div>
    <div class="container">

        <h1>
            Hello, <span th:text="${username}">--name--</span>.

        </h1>
        <h3>
            Welcome to the User info test page !!
        </h3>
        <ul>
            <li>First Name : <span th:text="${firstName}">--firstName--</span>.</li>
            <li>Last Name : <span th:text="${lastName}">--lastName--</span>.</li>
            <li>Email : <span th:text="${email}">--Email--</span>.</li>
            <li>Username : <span th:text="${username}">--Username--</span>.</li>
        </ul>

        <h1> Modifier son compte :</h1>
        <a href="http://localhost:8180/auth/realms/projetIWA/account/">EDIT ACCOUNT</a>

        <div id="pagefoot" th:include="layout :: footerFragment">Footer</div>
    </div>
</body>
</html>